[submodule "dhall/dhall-bash-bin"]
	path = dhall/dhall-bash-bin
	url = ssh://aur@aur.archlinux.org/dhall-bash-bin.git
[submodule "dhall/dhall-bin"]
	path = dhall/dhall-bin
	url = ssh://aur@aur.archlinux.org/dhall-bin.git
[submodule "dhall/dhall-lsp-server-bin"]
	path = dhall/dhall-lsp-server-bin
	url = ssh://aur@aur.archlinux.org/dhall-lsp-server-bin.git
[submodule "dhall/dhall-text-bin"]
	path = dhall/dhall-text-bin
	url = ssh://aur@aur.archlinux.org/dhall-text-bin.git
[submodule "propellor/propellor"]
	path = propellor/propellor
	url = ssh://aur@aur.archlinux.org/propellor.git
[submodule "spotify-tui-bin"]
	path = spotify-tui-bin
	url = ssh://aur@aur.archlinux.org/spotify-tui-bin.git
